#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.start-button {
  margin-bottom: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 500px;
  max-height: 500px;
  width: 30vw;
  height: 30vw;
  margin: 0 auto;
  border: #646cff solid 1px;
}

.board-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  padding: 1px;
  border: #646cff solid 2px;
  color: rgba(255, 255, 255, 0.87);
}

.mark {
  font-size: 4rem;
}
